body {
  margin: 0;
  padding: 0;
  font-family: 'Cinzel', serif;
  background: radial-gradient(circle at top, #1a1a1a 0%, #000000 100%);
  color: #eee;
  min-height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
